{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      <p class="govuk-body">
        This service demonstrates CDP platform integration with a
        Java Spring Boot backend.
      </p>

      <h2 class="govuk-heading-m">Start</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Go to your dashboard to import some animals (requires log in)</li>
      </ul>

      {{ govukButton({
        text: "Dashboard",
        href: "/dashboard",
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
