/* stylelint-disable */
@use "govuk-frontend" as *;
@use "variables" as *;

.commodity-selection-breadcrumb {
  position: relative;
  padding: 1em;
}

.commodity-selection-breadcrumb nav .commodity-list ul {
  position: relative;
  list-style: none;
  padding-left: 42px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li {
  position: relative;
  display: block;
  line-height: 25px;
  padding-top: 5px;
  word-wrap: break-word;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:before, .commodity-selection-breadcrumb nav .commodity-list ul li:after {
  content: "";
  position: absolute;
  left: -23px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:before {
  border-top: 1px solid black;
  top: 24px;
  width: 21px;
  height: 0;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:after {
  border-left: 1px solid black;
  height: 100%;
  width: 0;
  top: 2px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:last-child:after {
  height: 22px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li strong input,
.commodity-selection-breadcrumb nav .commodity-list ul li strong button {
  color: $white;
  text-decoration: none;
}

.commodity-selection-breadcrumb nav .commodity-list ul li span {
  line-height: 38px;
}

// Commodity selector css

.commodity-tree {
  margin-top: 0;
  margin-bottom: 0;

  details {
    summary {
      display: inline-block;
      color: $endeavour;
      cursor: pointer;
      position: relative;
      margin-bottom: 0;
    }
  }
}

.commodity-description-links-container {
  width: 75%;
  display: inline-block;

  .commodity-description-link {
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
    display: contents;
  }
}

.commodity-link-button-no-boxes {
  //@include govuk-link-common;
  //@include govuk-link-style-default;
  //@include govuk-font($size: 16);
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.parent-commodity-description-link-container {
  display: inline-block;
}

.commodity-code-box {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 5px 5px;
  font-family: $font-family-nta;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $endeavour;
  width: 25px;
  text-align: center;
  vertical-align: top;

  button {
    @include govuk-font($size: 16, $weight: bold);
  }
}

.link-button {

  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.commodity-code-link {
  font-family: "GDS Transport", arial, sans-serif;
  text-decoration: none;
}


.cc-box {
  color: white !important;
  text-decoration: none;
}

.autocomplete-container {
  position: relative; /* Critical: Parent must be relative */
  display: inline-block;
  width: 300px;
}

#autocomplete {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#suggestions {
  position: absolute;        /* Critical: Absolute positioning */
  top: 100%;                 /* Position below input */
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10000;            /* Critical: High z-index */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.suggestion {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestion:hover {
  background-color: #f5f5f5;
}

.suggestion:last-child {
  border-bottom: none;
}

/* Hide when empty */
#suggestions:empty {
  display: none;
}


.hide-element { display: none; }
