// Colours - named using http://chir.ag/projects/name-that-color
$cape-code: #454a4c;
$woodsmoke: #0b0c0c;
$yellow-orange: #ffbf47;
$demim-blue: #0c60a3;
$jaffa: #f47738;
$jewel: #10813e;
$alizarin-crimson: #df3034;
$white: #ffffff;
$black: #000000;
$iron: #dee0e2;
$rolling-stone: #6f777b;
$silver-sand: #bfc1c3;
$endeavour: #005ea5;
$alabaster: #f8f8f8;
$gallery: #eeeeee;
$japanese-laurel: #008000;
$curious-blue: #2b8cc4;
$silver-chalice: #aaaaaa;
$silver: #cccccc;
$dove-gray: #696969;
$cornflower-blue: #a9a9a9;
$daisy-bush: #4c2c92;
$blue: #1d8feb;
$shiraz: #b10e1e;
$silver-plate: #c0c0c0;
$bombay: #b1b4b6;
$transparent: rgba(255, 255, 255, 0);
$translucent-grey: rgba(0, 0, 0, .2);

// Fonts
$font-family-nta: "nta", "Arial", sans-serif;
$font-family-sans-serif: sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;

$error-border-padding: 15px;
$error-border-width: 5px;
