{% extends "layouts/page.njk" %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/example/create/name"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        {{ govukTextarea({
          label: {
            text: heading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter a description or configuration value for this example"
          },
          id: "value",
          name: "value",
          value: value,
          errorMessage: formError,
          rows: 5
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
