{% block commodityTree %}
  <div>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="event-name">
        Find the commodity in the commodity tree
      </label>
    </h1>

    {{ tabSelected }}
    {% if tabs.commoditySearchTab == 'selected' %}
      {% set tabSelected = 'commoditySearchTab' %}
    {% else %}
      {% set tabSelected = 'speciesSearchTab' %}
    {% endif %}


    <!-- Begin Tree -->
    <div class="search-panel">
      <div class="commodity-selection-breadcrumb">
        <nav aria-label="Top Navigation for All commodities">
          <a href="/import/commodity/codes" class="govuk-link">
            All commodities
          </a>

          <div class="commodity-list">
            <ul>
              {% for commodity in treeParent %}
              <li>
                <strong class="commodity-code-box">
                  <a class="govuk-link cc-box"
                     href="/import/commodity/codes/{{ commodity.code }}/first?tab={{ tabSelected }}">
                    {{ commodity.code }}
                  </a>
                </strong>
                <span  class="commodity-description-links-container">
                  <a class="govuk-link" href="/import/commodity/codes/{{ commodity.code }}/first?tab={{ tabSelected }}">
                      {{ commodity.description }}
                </a>
                </span>

                <!-- First child -->
                <ul>
                  {% if treeParent.firstChild %}
                    {% for node in treeParent.firstChild %}
                      {% if node.parentCode == commodity.code %}
                      <li>
                        <strong class="commodity-code-box">
                          {% if node.displayCodeFull %}
                          <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/second?parent-code={{ node.parentCode }}&tab={{ tabSelected }}"
                                  class="govuk-link cc-box">
                            {{ node.displayCodeFull | first }}
                          </a>
                        </strong>
                        <strong class="commodity-code-box">
                          <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/second?parent-code={{ node.parentCode }}&tab={{ tabSelected }}"
                                  class="govuk-link cc-box">
                            {{ node.displayCodeFull | last }}
                          </a>
                        </strong>
                        <span>
                          <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/second?parent-code={{ node.parentCode }}&tab={{ tabSelected }}">
                            {{ node.description }}
                          </a>
                        </span>
                        {% else %}
                          <span>
                            <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/second?parent-code={{ node.parentCode }}&tab={{ tabSelected }}">
                              {{ node.description }}
                            </a>
                          </span>
                        {% endif %}

                        <!-- Second child -->
                        {% if treeParent.firstChild.secondChild %}
                          {% for children in treeParent.firstChild.secondChild %}
                            <ul>
                              <li>
                                {% if children.displayCodeFull %}
                                  {% set scCommodityCode = children.displayCodeFull %}
                                  {% for scCode in scDisplayCode %}
                                    <strong class="commodity-code-box ">
                                      <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/third?parent-code={{ children.parentCode }}&tab={{ tabSelected }}"
                                         class="govuk-link cc-box">
                                        {{ scCode }}
                                      </a>
                                    </strong>
                                  {% endfor %}
                                  <span>
                                    <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/third?parent-code={{ children.parentCode }}&tab={{ tabSelected }}">
                                      {{ children.description }}
                                    </a>
                                </span>
                                {% else %}
                                <span>
                                  <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/third?parent-code={{ children.parentCode }}&tab={{ tabSelected }}">
                                    {{ children.description }}
                                  </a>
                                </span>
                                {% endif %}
                              </li>

                              <!-- leaf nodes -->
                              {% if treeParent.firstChild.secondChild.leaf %}
                                {% for leaf in treeParent.firstChild.secondChild.leaf %}
                                  <ul>
                                    <li>
                                    {% if leaf.displayCodeFull %}
                                    {% set leafCommodityCode = leaf.displayCodeFull %}
                                      {% for leafCode in leafCommodityCode %}
                                      <strong class="commodity-code-box ">
                                        <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/{{ leafCommodityCode | join }}/third?parent-code={{ children.parentCode }}"
                                           class="govuk-link cc-box">
                                          {{ leafCode }}
                                        </a>
                                      </strong>
                                      {% endfor %}
                                      <span>
                                        <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/{{ leafCommodityCode | join }}/third?parent-code={{ children.parentCode }}">
                                          {{ leaf.description }}
                                        </a>
                                      </span>
                                      {% else %}
                                        <span>
                                          <a href="/import/commodity/codes/{{ commodity.code }}/{{ node.code }}/{{ children.code }}/{{ leafCommodityCode | join }}/third?parent-code={{ children.parentCode }}">
                                            {{ leaf.description }}
                                          </a>
                                        </span>
                                      {% endif %}
                                    </li>
                                  </ul>
                                {% endfor %}
                              {% endif %}
                            </ul>
                          {% endfor %}
                        {% endif %}

                      </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>

              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </div>
{% endblock %}
