{% extends "layouts/page.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/import/consignment/origin"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

        <span class="govuk-caption-xl">Description of the goods</span>
        <h1 class="govuk-heading-xl">Commodity</h1>

        <div>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you need help with finding an animal
              </span>
            </summary>
            <div class="govuk-details__text">
              You can:
              <ul>
                <li>use the Species search to find an animal using its scientific (Latin) species name</li>
                <li><a href='https://www.gov.uk/trade-tariff' class='govuk-link--no-visited-state' target='_blank'
                       rel='noopener noreferrer'> look up commodity codes for animals using the Trade Tariff tool (opens
                    in new tab)</a></li>
              </ul>
            </div>
          </details>
        </div>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#commodity-code-tab">
                Commodity code search
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#species-tab">
                Species search
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="commodity-code-tab">
            <form action="/import/commodity/codes/search" method="get" novalidate>
              <input type="hidden" name="crumb" value="{{ crumb }}"/>
            <h2 class="govuk-heading-m">Search commodities</h2>
            <div class="govuk-form-group">
              <div id="more-detail-hint" class="govuk-hint">
                Enter commodity code
              </div>
              <input class="govuk-input" id="commodity-code" name="commodity-code" type="text">
            </div>
            <div>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Search
              </button>
            </div>
            </form>
            <!-- commodity tree -->
            {% include "commodity-codes/commodityTree.njk" %}
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="species-tab">
            <h2 class="govuk-heading-m">Search species of commodity</h2>
            <div class="govuk-form-group">
              <div id="more-detail-hint" class="govuk-hint">
                Enter scientific (Latin) name of species
                For example:
                <ul>
                  <li>for cattle, enter Bos taurus</li>
                  <li>for sheep, enter Ovis aries</li>
                  <li>for dogs, enter Canis familiaris</li>
                </ul>
              </div>
              <form action="/import/commodity/species/search" method="get" novalidate>
                <input type="hidden" name="crumb" value="{{ crumb }}"/>
                <input class="govuk-input js-hidden" id="species-code" name="species-code" type="text">
                <div id="suggestions"></div>
              </form>
            </div>
            <!-- commodity codes tree -->
            {% include "commodity-codes/commodityTree.njk" %}
          </div>
        </div>

    </div>
  </div>
{% endblock %}
